<h2>Create Product</h2>

<form action="/form-products" method="post">
    Name: <input type="text" name="name">
    Price: <input type="number" name="price">
    <button type="submit">Enviar</button>
</form>
<div class="btn-mod">
<a href="/products" >Product List</a>
<a href="/products-realtime">Products realtime</a>

</div>