<h2>Products - Real Time</h2>
<form id='myForm'>
    Name: <input type="text" name="name">
    Price: <input type="number" name="price">
    <button type="submit">Enviar</button>
</form>
<div class="table-container">
    <table class="custom-table">
        <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Price</td>
            </tr>
        </thead>
        <tbody id="tbody">
            {{#each products}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.name}}</td>
                <td>{{this.price}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>


<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io()

    document.getElementById('myForm').onsubmit = (e) => {
        e.preventDefault()

        const name = document.querySelector('input[name=name]').value
        const price = parseInt(document.querySelector('input[name=price]').value)

        const product = { name, price }
        socket.emit('new-product', product)
        socket.on('realtime-table', products => {
            console.log(products)
            const tbody = document.getElementById('tbody')
            let html = '';
            products.forEach(product => {
                html += `
                        <tr>
                        <td>${product.id}</td>
                        <td>${product.name}</td>
                        <td>${product.price}</td>
                        </tr>
            `
            })
            tbody.innerHTML = html
        })

    }

</script>